<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.bootcss.com/vue/2.2.2/vue.min.js"></script>
</head>
<body>
    <div id="app">
        <p v-if="seen">seen为true</p>
        <template v-if="ok">
            <h1>ok值为true</h1>
        </template>
    </div>
    <script>
        new Vue({
            el:'#app',
            data:{
                seen:false,
                ok:true
            }
        })
    </script>
</body>
</html>